includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - free-gift-bulk-coupon-generator.php

    excludePaths:
        - .github
        - .vscode
    
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    
    treatPhpDocTypesAsCertain: false
    
    ignoreErrors:
        # Ignore WordPress global variables that might not be defined in test context
        - '#Variable \$wpdb might not be defined#'
        - '#Variable \$wp_query might not be defined#'
        - '#Variable \$post might not be defined#'
        
        # Ignore WooCommerce functions and classes when WooCommerce is not loaded
        - '#Function wc_get_product not found#'
        - '#Function wc_get_coupon_id_by_code not found#'
        - '#Function wc_get_logger not found#'
        - '#Instantiated class WC_Coupon not found#'
        - '#Call to method .* on an unknown class WC_Coupon#'
        - '#Method .* of an unknown class WC_Coupon#'
        - '#Parameter .* of method .* expects WC_Product#'
        - '#Parameter .* of method .* has invalid type WC_Coupon#'
        - '#Class WC_Coupon not found#'
        - '#Parameter \$coupon of method .* has invalid type WC_Coupon#'