includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - free-gift-bulk-coupon-generator.php
    
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    
    treatPhpDocTypesAsCertain: false
    
    ignoreErrors:
        # Ignore WordPress global variables that might not be defined in test context
        - '#Variable \$wpdb might not be defined#'
        - '#Variable \$wp_query might not be defined#'
        - '#Variable \$post might not be defined#'